svg path {
  stroke: #fff;
  stroke-width: 0.3;
  stroke-dasharray: 125;
  stroke-dashoffset: 125;
  fill: transparent;
  animation: textAnimation 2s ease-in-out forwards;
}

@keyframes textAnimation {
  0% {
    stroke-dashoffset: 125;
  }
  80% {
    fill: transparent;
  }
  100% {
    fill: #fff;
    stroke-dashoffset: 0;
  }
}
